.piano-display
  max-width: 300px
  margin: 0 auto
  background: darkseagreen
  padding: 1px 1px 0 1px
  font-family: 'VT323', monospace
  & .inverted
    background: #181818
    color: darkseagreen
    margin-right: 1px
