<div class="piano">
  <ht-piano-display [lines]="display$ | async" [controls]="controls$ | async">
    <ht-piano-controls [controls]="controls$ | async"></ht-piano-controls>
  </ht-piano-display>
  <ht-piano-transport (transportRecord)="transportRecord()" (transportPlay)="transportStart()"
                      (transportStop)="transportStop()" [state]="sequencer.getState()"></ht-piano-transport>
  <ht-piano-keyboard (noteOn)="instrumentPlay($event)" (noteOff)="instrumentStop($event)"
                     [keys]="keys"></ht-piano-keyboard>
</div>
